In [49]:
#importing libraries
import pandas as pd
import numpy as np
import selenium
import time
from bs4 import BeautifulSoup

#Importing requests
import requests

#importing selenium webdriver
from selenium import webdriver
from selenium.webdriver.common.by import By
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

import re

#import plotty
import warnings
warnings.filterwarnings('ignore')

In [24]:
# Activating the chrome browser
PATH = 'C:/Users/hp-pc/Downloads/chromedriver_win32/chromedriver'
driver = webdriver.Chrome(PATH)

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:
1. Rank
2. Name
3. Artist
4. Upload date
5. Views

In [53]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'  
driver.get(url) #Opening the Wikipedia.org

In [77]:
#Creating Empty List
Rank=[]
Video_Name=[]
Artist=[]
Upload_Date=[]
Views=[]
#Extracting rank from xpath
try:
    rank=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for i in rank:
        Rank.append(i.text)
except:
    Rank.append('-')
#Extracting Video name from xpath
try:
    name=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for i in name:
        Video_Name.append(i.text.split('[').pop(0).replace("\"",""))
except:
    Video_Name.append('-')
#Extracting Artist from xpath
try:
    artist=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[3]")
    for i in artist:
        Artist.append(i.text)
except:
    Artist.append('-')
#Extracting Upload Date from xpath    
try:
    date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    for i in date:
        Upload_Date.append(i.text)
except:
    Upload_Date.append('-')
#Extracting Views from xpath   
try:
    views=driver.find_elements_by_xpath("//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    for i in views:
        Views.append(i.text)
except:
    Views.append('-')
    
#creating a dataframe
df=pd.DataFrame({'Rank': Rank,
                'Video_Name':Video_Name,
                 'Artist': Artist,
                 'Upload_Date': Upload_Date,
                 'Views': Views,
                })
#printing dataframe
df

,Rank,Video_Name,Artist,Upload_Date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,9.98,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.70,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.09,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.58,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.38,"April 6, 2015"
5,6.,Bath Song,Cocomelon – Nursery Rhymes,4.84,"May 2, 2018"
6,7.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.55,"February 27, 2018"
7,8.,Masha and the Bear – Recipe for Disaster,Get Movies,4.48,"January 31, 2012"
8,9.,Uptown Funk,Mark Ronson,4.42,"November 19, 2014"
9,10.,Phonics Song with Two Words,ChuChu TV,4.40,"March 6, 2014"
10,11.,Gangnam Style,Psy,4.30,"July 15, 2012"
11,12.,Dame Tu Cosita,El Chombo,3.79,"April 5, 2018"
12,13.,Sugar,Maroon 5,3.62,"January 14, 2015"
13,14.,Sorry,Justin Bieber,3.50,"October 22, 2015"
14,15.,Roar,Katy Perry,3.50,"September 5, 2013"
15,16.,Wheels on the Bus,Cocomelon – Nursery Rhymes,3.48,"May 24, 2018"
16,17.,Counting Stars,OneRepublic,3.48,"May 31, 2013"
17,18.,Thinking Out Loud,Ed Sheeran,3.39,"October 7, 2014"
18,19.,Girls Like You,Maroon 5,3.21,"May 31, 2018"
19,20.,Faded,Alan Walker,3.21,"December 3, 2015"
20,21.,Dark Horse,Katy Perry,3.20,"February 20, 2014"
21,22.,Axel F,Crazy Frog,3.17,"June 16, 2009"
22,23.,Let Her Go,Passenger,3.15,"July 25, 2012"
23,24.,Bailando,Enrique Iglesias,3.15,"April 11, 2014"
24,25.,Lean On,Major Lazer,3.15,"March 22, 2015"
25,26.,Shake It Off,Taylor Swift,3.13,"August 18, 2014"
26,27.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.06,"June 25, 2018"
27,28.,Perfect,Ed Sheeran,3.06,"November 9, 2017"
28,29.,Waka Waka (This Time for Africa),Shakira,3.03,"June 4, 2010"
29,30.,Mi Gente,J Balvin,3.02,"June 29, 2017"

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
1. Match title (I.e. 1st ODI)
2. Series
3. Place
4. Date
5. Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [36]:
url = 'https://www.bcci.tv/'  #Opening the bcci.tv
driver.get(url)

time.sleep(5) #time delay of 5 seconds

clk_international = driver.find_element_by_xpath("/html/body/nav/div/div[2]/ul[1]/li[2]/a") 
clk_international.click() #clicking International button

In [37]:
#Creating empty list
match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Extracting Match title by using xpath
title=driver.find_elements_by_xpath("//*[@class='fix-place ng-binding ng-scope']")
for i in title:
    match_title.append(i.text.split('-').pop(0))
#Extracting series by using xpath 
series=driver.find_elements_by_xpath("//*[@class='fixture-card-top']//h5[2]")
for i in series:
    Series.append(i.text)
#Extracting place by using xpath
place=driver.find_elements_by_xpath("//*[@class='fix-place ng-binding ng-scope']")
for i in place:
    Place.append(i.text.split('-').pop(1))
#Extracting Date by using xpath   
date=driver.find_elements_by_xpath("//*[@class='ng-binding']//..//h5")
for i in date:
    Date.append(i.text)
#Extracting Time by using xpath   
time=driver.find_elements_by_xpath("//*[@class='text-right ng-binding']//..//h5")
for i in time:
    Time.append(i.text)
    
#creating a dataframe
df=pd.DataFrame({'Match_Title':match_title,
                'Series':Series,
                'Place':Place,
                'Date': Date,
                'Time': Time,
                })
#printing dataframe
df

,Match_Title,Series,Place,Date,Time
0,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
1,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
2,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
3,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST
4,1st ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"NARENDRA MODI STADIUM, Ahmedabad",6 FEB 2022,9:30 AM IST
5,2nd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Sawai Mansingh Stadium, Jaipur",9 FEB 2022,9:30 AM IST
6,3rd ODI,WEST INDIES TOUR OF INDIA ODI SERIES 2022,"Eden Gardens, Kolkata",12 FEB 2022,9:30 AM IST
7,1st T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",15 FEB 2022,7:30 PM IST
8,2nd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA,18 FEB 2022,7:30 PM IST
9,3rd T20I,WEST INDIES TOUR OF INDIA T20 SERIES 2022,"Greenfield International Stadium, Thiruvanant...",20 FEB 2022,7:30 PM IST
10,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",25 FEB 2022,9:30 AM IST
11,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",5 MAR 2022,9:30 AM IST
12,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Punjab Cricket Association IS Bindra Stadium,...",13 MAR 2022,7:30 PM IST
13,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium,...",15 MAR 2022,7:30 PM IST
14,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,18 MAR 2022,7:30 PM IST
15,1st T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"MA Chidambaram Stadium, Chennai",9 JUN 2022,7:30 PM IST
16,2nd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",12 JUN 2022,7:30 PM IST
17,3rd T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Vidarbha Cricket Association Stadium, Nagpur",14 JUN 2022,7:30 PM IST
18,4th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,7:30 PM IST
19,5th T20I,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",19 JUN 2022,7:30 PM IST

Q3- Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

You need to find following details:
1. Name
2. Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [46]:
url = 'https://www.guru99.com/'  #Opening the guru99.com
driver.get(url)

time.sleep(5) #time delay of 5 seconds

clk_testing = driver.find_element_by_xpath("/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[1]/nav/div/ul/li[2]/a/span")
clk_testing.click() #clicking testing button

time.sleep(3) #time delay of 3 seconds

clk_selenium = driver.find_element_by_xpath("/html/body/div[1]/header/div[1]/div/div/div/div/div/div/div/div[2]/div[1]/nav/div/ul/li[2]/ul/li[12]/a") 
clk_selenium.click() #clicking selenium button

time.sleep(3) #time delay of 3 seconds

clk_tutorial = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a") 
clk_tutorial.click() #clicking tutorial button

In [52]:
#Creating Empty List
Exception_name=[]
Description=[]

try:   # Extracting Exception_name from the xpath
    name=driver.find_elements_by_xpath('//*[@class="table table-striped"]//tr//td[1]')
    for i in name:
        Exception_name.append(i.text)
except:
    Exception_name.append('-')

try:   # Extracting Description from the xpath
    description=driver.find_elements_by_xpath('//*[@class="table table-striped"]//tr//td[2]')
    for i in description:
        Description.append(i.text)
except:
    Description.append('-')
    
#creating a dataframe
df=pd.DataFrame({'Exception_Name': Exception_name,
                'Description': Description,
                })
#printing dataframe
df

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

Q4- Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:
1. Rank
2. State
3. GSDP
4. GSDP
5. Share
6. GDP($ billion)

In [163]:
url = 'http://statisticstimes.com/'  #Opening the statistics.com website
driver.get(url)

time.sleep(5) #time delay of 5 seconds

clk_eco = driver.find_element_by_xpath("//button[@class='dropbtn']//..//..//div[2]//button")
clk_eco.click()#clicking Economy button

time.sleep(2)

clk_india = driver.find_element_by_xpath("//div[@class='dropdown-content']//..//..//div[2]//div//a[3]") 
clk_india.click()#clicking India button

time.sleep(10)

clk_stateGDP = driver.find_element_by_xpath("//a[@class='ec']//..//..//..//..//div[2]//ul//li[1]//a[1]") 
clk_stateGDP.click()#clicking StateGDP button

In [166]:
#empty list
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]
urls=[]


try:   # Extracting rank from the xpath
    ranks=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[1]')
    for i in ranks:
        rank.append(i.text)
except:
    rank.append('-')


try:  # Extracting state from the xpath
    states=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[2]')
    for i in states:
        state.append(i.text)
except:
    state.append('-')


try:   # Extracting gsdp1 from the xpath
    gsdp1=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[3]')
    for i in gsdp1:
        GSDP1.append(i.text)
except:
    GSDP1.append('-')

try:   # Extracting gsdp2 from the xpath
    gsdp2=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[4]')
    for i in gsdp2:
        GSDP2.append(i.text)
except:
    GSDP2.append('-')

try:   # Extracting share from the xpath
    shares=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[5]')
    for i in shares:
        share.append(i.text)
except:
    share.append('-')


try:    # Extracting GDP from the xpath
    gdp=driver.find_elements_by_xpath('//*[@id="table_id"]//tbody//tr//td[6]')
    for i in gdp:
        GDP.append(i.text)
except:
    GDP.append('-')



#creating a dataframe
df=pd.DataFrame({'Rank':rank,
                'State':state,
                'GSDP19-20':GSDP1,
                'GSDP18-19': GSDP2,
                'Share': share,
                'GDP':GDP})
#printing dataframe
df

   Rank                      State  GSDP19-20  GSDP18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

Q5- Scrape the details of trending repositories on Github.com.
Url = https://github.com/

You have to find the following details:
1. Repository title
2. Repository description
3. Contributors count
4. Language used

In [36]:
url = 'https://github.com/' #Opening the Github.com
driver.get(url)

time.sleep(5) #Delay time of 5 seconds
try:
    clk_explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
    clk_explore.click() #Click on Explore option
except:
    clk_explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
    clk_explore.click() #Click on Explore option
    
time.sleep(2) #Delay time for 2 seconds

clk_trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
clk_trending.click() #click on trending button

In [37]:
urls1=[]
urls2=[]
urls = driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article/h1/a")
for url in urls:
    urls1.append(url.get_attribute("href"))

#Creating Empty list
Repository_title = []
Repository_description =[]
Contributors_counts =[]
Language_used = []
list1=[]
contributors_counts=[]
    
# Scraping data from each url
for url in urls1:
    driver.get(url)    # Saving url                                                     
    print("Scraping URL = ", url)
    time.sleep(2)

    try:
        title = driver.find_elements_by_xpath("//*[@class='Box-row']//h1")      
        for i in title:
            Repository_title.append(i.text)
    except NoSuchElementException:
        Repository_title.append('-')
    
    try:
        description = driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")      # Extracting Brand from xpath
        for i in description:
            Repository_description.append(i.text)
    except NoSuchElementException:
        Repository_description.append('-')
    
    try:
        counts = driver.find_elements_by_xpath("//*[@class='octicon octicon-repo-forked']//..")      # Extracting Brand from xpath
        for i in counts:
            Contributors_counts.append(i.text)
    except NoSuchElementException:
        Contributors_counts.append('-')
    
    for j in range(0, len(Contributors_counts)):
        if j%2:
            list1.append(Contributors_counts[j])
        else:
            contributors_counts.append(Contributors_counts[j])

    try:
        language = driver.find_elements_by_xpath("//*[@class='Box-row']//div[2]//span//span[2]")     
        for i in language:
            Language_used.append(i.text)
    except NoSuchElementException:
        Language_used.append('-')

Scraping URL =  https://github.com/v4d1/SpoofThatMail
Scraping URL =  https://github.com/windowjs/windowjs
Scraping URL =  https://github.com/withastro/astro
Scraping URL =  https://github.com/CyC2018/CS-Notes
Scraping URL =  https://github.com/apache/superset
Scraping URL =  https://github.com/eugeneyan/applied-ml
Scraping URL =  https://github.com/cyrildiagne/ar-cutpaste
Scraping URL =  https://github.com/abigsoft/jdog202201
Scraping URL =  https://github.com/sottlmarek/DevSecOps
Scraping URL =  https://github.com/facebookresearch/ConvNeXt
Scraping URL =  https://github.com/input-output-hk/plutus-apps
Scraping URL =  https://github.com/crater-invoice/crater
Scraping URL =  https://github.com/MoienTajik/AspNetCore-Developer-Roadmap
Scraping URL =  https://github.com/windowtoolbox/powershell-windows-toolbox
Scraping URL =  https://github.com/commit-live-students/Data_Science_Masters_Program_2021
Scraping URL =  https://github.com/itcharge/LeetCode-Py
Scraping URL =  https://github.com/ethereumbook/ethereumbook
Scraping URL =  https://github.com/synercys/annotated_latex_equations
Scraping URL =  https://github.com/google/leveldb
Scraping URL =  https://github.com/ultralytics/yolov5
Scraping URL =  https://github.com/input-output-hk/plutus-pioneer-program
Scraping URL =  https://github.com/files-community/Files
Scraping URL =  https://github.com/alyssaxuu/omni
Scraping URL =  https://github.com/QSCTech/zju-icicles
Scraping URL =  https://github.com/prabhatsharma/zinc

Q6- Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:

1. Song name
2. Artist name
3. Last week rank
4. Peak rank
5. Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [ ]:
url = 'https://www.billboard.com/'  #Opening the billboards
driver.get(url)

time.sleep(5) #delay for 5 seconds

clk_charts = driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a") 
clk_charts.click() #clicking the charts

time.sleep(3) #delay for 3 seconds

clk_100hot = driver.find_element_by_xpath("/html/body/div[4]/main/div[2]/div[1]/div[1]/div/div[1]/div[1]/div[2]/span/a") 
clk_100hot.click() #clicking the 100hot button

In [194]:
#Creating the empty list
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Week_on_board=[]

try:   # Extracting song name from the xpath
    song_name=driver.find_elements_by_xpath("//*[@class='lrv-u-width-100p']//ul//li//h3")
    for i in song_name:
        Song_name.append(i.text)
except:
    Song_name.append('-')
    
try:   # Extracting artist name from the xpath
    artist_name=driver.find_elements_by_xpath("//*[@class='lrv-u-width-100p']//ul//li[1]//span")
    for i in artist_name:
        Artist_name.append(i.text)
except:
    Artist_name.append('-')

try:   # Extracting last week rank from the xpath
    Last_week_ranks=driver.find_elements_by_xpath("//*[@class='lrv-u-width-100p']//ul//li[4]//span")
    for i in Last_week_ranks:
        Last_week_rank.append(i.text)
except:
    Last_week_rank.append('-')
    
lst=[]#rejection list
last_week_ranks=[]#final list
for i in range(0, len(Last_week_rank)): #extracting even and odd index details separately.
    if i % 2:
        lst.append(Last_week_rank[i])#rejecting odd index details
    else :
        last_week_ranks.append(Last_week_rank[i])#extracting even index details

try:   # Extracting peak ranks from the xpath
    peak_ranks=driver.find_elements_by_xpath("//*[@class='lrv-u-width-100p']//ul//li[5]//span")
    for i in peak_ranks:
        Peak_rank.append(i.text)
except:
    Peak_rank.append('-')

peak=[]#rejection list
Peak_ranks=[]#final list

for i in range(0, len(Peak_rank)):#extracting even and odd index details separately.
    if i % 2:
        peak.append(Peak_rank[i])#rejecting odd index details
    else :
        Peak_ranks.append(Peak_rank[i])#extracting even index details
        
try:   # Extracting week on boards from the xpath
    Week_on_boards1=driver.find_elements_by_xpath("//*[@class='lrv-u-width-100p']//ul//li[6]//span")
    for i in Week_on_boards1:
        Week_on_board.append(i.text)
except:
    Week_on_board.append('-')

week=[]#rejection list
Weeks_on_boards=[]#final list

for i in range(0, len(Week_on_board)):#extracting even and odd index details separately.
    if i % 2:
        week.append(Week_on_board[i])#rejecting odd index details
    else :
        Weeks_on_boards.append(Week_on_board[i])#extracting even index details
        
#creating a dataframe
df=pd.DataFrame({'Song_Name':Song_name,
                'Artist_Name':Artist_name,
                'Last_Week_Ranks':last_week_ranks,
                'Peak_Ranks': Peak_ranks,
                'Week_On_Board': Week_on_board,
                })
#printing dataframe
df

,Song_Name,Artist_Name,Last_Week_Ranks,Peak_Ranks,Week_On_Board
0,All I Want For Christmas Is You,Mariah Carey,1,1,51
1,Easy On Me,Adele,5,1,12
2,Rockin' Around The Christmas Tree,Brenda Lee,2,2,45
3,Jingle Bell Rock,Bobby Helms,3,3,42
4,A Holly Jolly Christmas,Burl Ives,4,4,26
...,...,...,...,...,...
95,Beers On Me,"Dierks Bentley, Breland & HARDY",-,96,1
96,Already Dead,Juice WRLD,88,20,6
97,No Love,Summer Walker & SZA,98,13,8
98,23,Sam Hunt,-,99,1
99,Family Ties,Baby Keem & Kendrick Lamar,100,18,18

In [57]:
# Activating the chrome browser
PATH = 'C:/Users/hp-pc/Downloads/chromedriver_win32/chromedriver'
driver = webdriver.Chrome(PATH)

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

You have to find the following details:
1. Name
2. Designation
3. Company
4. Skills they hire for
5. Location

In [71]:
url = 'https://www.naukri.com/mnjuser/homepage'  #Opening the naukri.com
driver.get(url)

time.sleep(5) #time delay of 5 seconds

try: #close the pop up by clicking 'Later' option
    clk_later = driver.find_element_by_xpath("//span[@id='block']") 
    clk_later.click() 
except NoSuchElementException:
    pass

time.sleep(2)#time delay of 2 seconds

clk_recruiters = driver.find_element_by_xpath("//div[text()='Recruiters' and @class='mTxt']") 
clk_recruiters.click() #click the option 'recruiters'

time.sleep(6)#time delay of 6 seconds

handles = driver.window_handles #returns all the handles value of opened browser
for handle in handles:
    driver.switch_to.window(handle)#switch to second window
    if driver.title=="HR Manager - HR Executive - HR Recruiter Consultants - Naukri.com":
        search_des=driver.find_element_by_xpath("//input[@class='sugInp']")
        search_des.clear()
        search_des.send_keys('Data Science')#send keys to search bar
        
        time.sleep(5)
        
        clk_search = driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
        clk_search.click()#clicking on search bar button

In [72]:
#creating empty list
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]
try:   #Extracting name from the xpath
    name=driver.find_elements_by_xpath("//*[@class='fl ellipsis']")
    for i in name:
        Name.append(i.text)
except:
    Name.append('-')

time.sleep(4) #delay for 4 seconds

try:   #Extracting designation from the xpath
    designation=driver.find_elements_by_xpath("//*[@class='ellipsis clr']")
    for i in designation:
        Designation.append(i.text)
except:
    Designation.append('-')

time.sleep(4) #delay for 4 seconds

try:   #Extracting company from the xpath
    company=driver.find_elements_by_xpath("//*[@class='ellipsis']//..//a[2]")
    for i in company:
        Company.append(i.text)
except:
    Company.append('-')

time.sleep(4) #delay for 4 seconds


try:   #Extracting skills from the xpath
    skills=driver.find_elements_by_xpath("//*[@class='hireSec highlightable']")
    for i in skills:
        Skills.append(i.text)
except:
    Skills.append('-')


#creating a dataframe
df=pd.DataFrame({'Name':Name,
                'Designation':Designation,
                'Company':Company,
                'Skills': Skills,
                })
#printing dataframe
df

,Name,Designation,Company,Skills
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele..."
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm..."
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin..."
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science"
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc..."
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee..."
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine..."
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product..."
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne..."
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software..."
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S..."
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading..."
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti..."
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ..."
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat..."
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ..."
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private..."
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering"
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark..."
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary"
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B..."
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs"
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni..."
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute..."
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,..."
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage..."
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy..."
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn..."

Q8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:
1. Book name
2. Author name
3. Volumes sold
4. Publisher
5. Genre

In [210]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'  #Open the website by using driver.get
driver.get(url) #opening the guardian.com

time.sleep(5) #delay for 5 seconds
#Creating Empty list
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

try:   #Extracting week on book name from the xpath
    book_name=driver.find_elements_by_xpath("//*[@class='in-article sortable']//tbody//tr//td[2]")
    for i in book_name:
        Book_name.append(i.text)
except:
    Book_name.append('-')

time.sleep(4) #delay for 4 seconds
        
try:   # Extracting week on author name from the xpath
    author_name=driver.find_elements_by_xpath("//*[@class='in-article sortable']//tbody//tr//td[3]")
    for i in author_name:
        Author_name.append(i.text)
except:
    Author_name.append('-') 

time.sleep(4) #delay for 4 seconds

try:   # Extracting volumes sold from the xpath
    vol_sold=driver.find_elements_by_xpath("//*[@class='in-article sortable']//tbody//tr//td[4]")
    for i in vol_sold:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append('-') 

time.sleep(4) #delay for 4 seconds

try:   # Extracting publisher from the xpath
    publisher=driver.find_elements_by_xpath("//*[@class='in-article sortable']//tbody//tr//td[5]")
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append('-')

time.sleep(4) #delay for 4 seconds

try:   # Extracting genre from the xpath
    genre=driver.find_elements_by_xpath("//*[@class='in-article sortable']//tbody//tr//td[6]")
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append('-')

time.sleep(4) #delay for 4 seconds

#creating a dataframe
df=pd.DataFrame({'Book_Name':Book_name,
                'Author_Name':Author_name,
                'Volumes_Sold':Volumes_sold,
                'Publisher': Publisher,
                'Genre': Genre,
                })
#printing dataframe
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
1. Name
2. Year span
3. Genre
4. Run time
5. Ratings
6. Votes

In [136]:
url = 'https://www.imdb.com/list/ls095964455/'  
driver.get(url)# opening the imdb.com

time.sleep(4)#delay for 4 seconds

#Creating Empty List
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

try:   # Extracting name from the xpath
    name=driver.find_elements_by_xpath("//*[@class='lister-item-header']//a")
    for i in name:
        Name.append(i.text)
except:
    Name.append('-')
    
try:   # Extracting year span from the xpath
    year=driver.find_elements_by_xpath("//*[@class='lister-item-header']//span[2]")
    for i in year:
        Year_span.append(i.text)
except:
    Year_span.append('-')
    
try:  # Extracting genre from the xpath
    genre=driver.find_elements_by_xpath("//*[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append('-')
    
try:   # Extracting run time from the xpath
    run_time=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run_time:
        Run_time.append(i.text)
except:
    Run_time.append('-')
    
try:   # Extracting ratings from the xpath
    ratings=driver.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except:
    Ratings.append('-')
    
try:   # Extracting votes from the xpath
    votes=driver.find_elements_by_xpath("//*[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except:
    Votes.append('-')
    
    
time.sleep(4) #delay for 4 seconds

#creating a dataframe
df=pd.DataFrame({'Name':Name,
                'Year_span':Year_span,
                'Genre':Genre,
                'Run_time': Run_time,
                'Votes': Votes,
                })
#printing dataframe
df

,Name,Year_span,Genre,Run_time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,930,637"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"951,515"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"922,206"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"276,325"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"236,572"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"47,179"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"57,975"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"183,043"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"38,331"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"218,022"

Q10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:
1. Dataset name
2. Data type
3. Task
4. Attribute type
5. No of instances
6. No of attribute
7. Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [158]:
url = 'https://archive.ics.uci.edu/ml/datasets.php'  
driver.get(url)#opening the archive.ics.uci.edu

#Creating Empty List
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

try:   # Extracting Dataset_name from the xpath
    name=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p")
    for i in name:
        Dataset_name.append(i.text)
except:
    Dataset_name.append('-')
try:   # Extracting Data_type from the xpath
    type=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[2]")
    for i in type:
        Data_type.append(i.text)
except:
    Data_type.append('-')
    
list2=[]#rejection list
data_type=[]#final list

for j in range(0, len(Data_type)):#extracting only even and odd index details
    if j%2:
        data_type.append(Data_type[j])#odd index details are useful 
    else:
        list2.append(Data_type[j])#rejecting even index details
        
try:   # Extracting task from the xpath
    task=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[3]")
    for i in task:
        Task.append(i.text)
except:
    Task.append('-')
    
try:   # Extracting Attribute_type from the xpath
    attribute=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[4]")
    for i in attribute:
        Attribute_type.append(i.text)
except:
    Attribute_type.append('-')
    
try:   # Extracting No_of_instances from the xpath
    instances=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[5]")
    for i in instances:
        No_of_instances.append(i.text)
except:
    No_of_instances.append('-')
    
    
try:   # Extracting No_of_attribute from the xpath
    attribute1=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[6]")
    for i in attribute1:
        No_of_attribute.append(i.text)
except:
    No_of_attribute.append('-')
    
    
try:   # Extracting Year from the xpath
    year=driver.find_elements_by_xpath("//p[@class='normal']//..//..//..//tbody//..//..//..//td[7]")
    for i in year:
        Year.append(i.text)
except:
    Year.append('-')

time.sleep(4)#delay for 4 seconds

#creating a dataframe
df=pd.DataFrame({'Dataset_name':Dataset_name,
                'Data_type':data_type,
                'Task':Task,
                'Attribute_type': Attribute_type,
                'No_of_instances': No_of_instances,
                 'No_of_attribute': No_of_attribute,
                 'Year': Year,
                })
#printing dataframe
df

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021